<div class="node-list {{if isLoading 'is-loading'}} {{if isEmpty 'is-empty'}}">
  {{#if isEmpty}}
    <div class="empty-message">{{yield to='inverse'}}</div>
  {{else}}
    {{#each visibleNodes as |node|
    }}
      {{#if node.isMore}}
        {{#async-more on-render=(action 'fetchMore' meta)}}More{{/async-more}}
      {{else}}
        <div class="node-list-item {{if node.isLoading 'is-loading'}} {{if (array-contains openNodes node) 'is-open' 'is-not-open'}} {{if node.isEmpty 'is-empty'}}" style={{node-style style node bind=this}}>
            <span class="async-tree-node node-label" {{action 'toggle' node}}>{{yield node.content}}</span>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
</div>
