<div class="node-list {{if isLoading 'is-loading'}}">
  {{#ember-collection
    items=visibleNodes
    cell-layout=(fixed-grid-layout width row-height)
    as |node|
  }}
    <div class="node-list-item" style="{{node-style style node bind=this}}">
      <span class="async-tree-node
                  {{if node.isLoading 'is-loading'}}
                  {{if (array-contains openNodes node) 'is-open' 'is-not-open'}}"
                  {{action 'toggle' node}}
                  >
        {{yield node.content}}
      </span>
    </div>
  {{/ember-collection}}
</div>
{{#if hasMore}}
  {{#async-more infinite=infinite on-render=(action 'fetchMore' meta)}}More{{/async-more}}
{{/if}}