<div class="paginated mdl-cell mdl-cell--12-col-desktop">
  <h3>Paginated Async Tree</h3>

  {{! // BEGIN-SNIPPET paginated-template }}
    {{#async-tree
      initial=model
      fetch=(action 'fetch')
      check-has-more=(action 'checkHasMore')
      as |node component|
    }}{{node.name}}{{/async-tree}}
  {{! // END-SNIPPET }}

  <h4>Template</h4>
  {{code-snippet name="paginated-template.hbs"}}

  <h4>Route</h4>
  {{code-snippet name="paginated-route.js"}}

  <h4>Controller</h4>
  {{code-snippet name="paginated-controller.js"}}

  <h4>CSS</h4>
  {{code-snippet name="paginated-scss.scss"}}

</div>
